<div class="container-fluid">  
  <form>
    <label><input type="radio" name="mode" value="size" class="valueBox"> Size</label>
    <label><input type="radio" name="mode" value="count" class="valueBox" checked> Count</label>
  </form>
  <div class="row">
    <div class="col-md-6 col-lg-6 svgContainer"></div>
    <div class="col-md-6 col-lg-6 legendContainer"></div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6 detailsContainer"></div>
    <div class="col-md-6 col-lg-6 dataContainer"></div>
  </div>
</div>